@import "./CrossBrowser.scss";

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  background-color: rgb(21, 32, 43);
  @include transition(0.2s background-color);

  // Dark mode override
  &.ui-dark-mode {
    background: rgb(0, 0, 0);

    .navbar, .modal-content {
      background: rgb(0, 0, 0);
      color: rgb(217, 217, 217);
    }

    .search-bar {
      background-color: rgb(32, 35, 39);
    }

    .search-icon {
      fill: rgb(110, 118, 125);
    }

    input, .tweet, .load-tweets>svg {
      color: rgb(217, 217, 217);
    }

    .tweet:hover {
      background: rgb(21, 24, 28);
    }

    .navbar-logo {
      filter: none;
    }

    .light-toggle:before {
      background-color: #d7d7d7;
      @include transform(translateX(125%));
    }
    .light-toggle:after {
      @include transform(translateX(-2.5%) rotateY(180deg));
    }
  }
}

.infinite-scroll {
  min-height: calc(100vh - 54px);
}

.loading-tweets {
  min-height: 100px;

  &>div {
    margin: 35px;
    text-align: center;
    display: inline-block;
  }
}

.load-tweets {
  position: relative;
  min-height: 100px;

  &>svg {
    position: absolute;
    color: rgb(255, 255, 255);
    height: 30px !important;
    width: auto !important;
    top: 50%;
    left: 50%;
    cursor: pointer;
    @include transform(translate(-50%, -50%));
    @include transition(all 0.3s);

    &:hover {
      @include transform(translate(-50%, -50%) rotate(270deg));
    }
  }
}


// Scrollbar styling
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(217, 217, 217);;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


