@import "./CrossBrowser.scss";

.modal-background {
  display: none;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(110, 118, 125, 0.4);
  opacity: 0;
  @include transition(opacity 1s);

  &.appear, &.enter, &.appear-done, &.enter-done {
    display: flex;
  }

  &.appear-done, &.enter-done {
    opacity: 1;
  }
}

.modal-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  color: rgb(255, 255, 255);;
  position: absolute;
  text-align: center;
  height: 700px;
  width: 800px;
  max-width: 90vw;
  max-height: 70vh;
  background-color: rgb(21, 32, 43);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  border-radius: 15px;
  top: 45%;
  cursor: default;
  @include transform(translateY(-50%));

  &.small {
    justify-content: center;
    height: 250px;
    width: 600px;
  }
}

.info-header {
  margin: 30px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;

  &.title {
    font-size: 28px;
    text-decoration: none;
  }
}

.info-body {
  padding: 0 30px;
  overflow-y: auto;
  width: calc(100% - 60px);
  font-size: 15px;
  
  p {
    color: rgb(136, 153, 166);
  }

  .tweet-icon {
    padding: 0 5px;
    @include transform(translateY(4px));
    @include transition(none !important);
    @include animation(none !important);

    &.icon-comments, &.icon-share {
      fill: rgb(29, 161, 242);
    }

    &.icon-retweet {
      fill: rgb(23, 191, 99);
    }
  }

  a {
    color: lightgoldenrodyellow;
  }
}

.close-modal {
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  min-height: 39px;
  margin: 30px;
  user-select: none;
  border-radius: 30px;
  background-color: rgb(29, 161, 242);
  cursor: pointer;
  @include transition(background-color 0.3s);

  &:hover {
    background-color: rgb(26, 145, 218);
  }

  &:focus {
    outline: none;
  }
}

.left {
  text-align: left;
}

.warn {
  color: red !important;
  font-weight: 700;
}

.clear-settings {
  margin: 15px 0;

  a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.share-link {
  width: 400px;
  max-width: calc(90% - 40px);
  margin: 20px;
  margin-bottom: 0;

  .share-input {
    display: inline-block;
    color: black !important;
    font-family: monospace;
    font-size: 12px;
    height: 20px;
    width: calc(100% - 65px);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: top;
    border: 2px solid grey;
    border-right: none;

    &:focus {
      outline: none;
    }
  }

  .clipboard {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid grey;
    border-left: 1px solid grey;
    user-select: none;
    cursor: pointer;
    @include transition(background-color 0.1s);

    .icon-clipboard, .icon-checkmark {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
    }

    .icon-clipboard {
      color: #6a737d;
    }
    
    .icon-checkmark {
      display: none;
      color: green;
    }

    &.copied {
      .icon-clipboard {
        @include animation(Checkmark 0.2s ease-in-out reverse);
        @include transform(translate(-50%,-50%) scale(0));
      }
      .icon-checkmark {
        display: block;
        @include animation(Checkmark 0.4s ease-in-out);
      }
    }

    &:hover {
      background-color: #f3f4f6;
    }
  }
}

@include keyframes(Checkmark) {
  0%   { @include transform(translate(-50%,-50%) scale(0)); }
  100% { @include transform(translate(-50%,-50%) scale(1)); }
}

.light-toggle-label {
  margin-right: 10px;
  color: rgb(136, 153, 166);
  font-weight: 700;
}

.dark-mode-toggle {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-toggle {
	background-color: rgb(82, 82, 82);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b !important;
	display: inline-flex;
	align-items: center;
	padding: 0.15em;
	width: 2.7em;
	font-size: 1.6em;
  line-height: 1.5;
  cursor: pointer;
  @include transition(0.2s ease-out);
  
  &:before, &:after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &:before {
    background-color: currentColor;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    z-index: 1;
    @include transition(0.2s ease-out);
  }

  &:after {
    background:
      linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
      repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
      radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
    @include transform(translateX(-22.5%));
    @include transition(0.2s ease-out);
  }
}

