@import "./CrossBrowser.scss";

$like-animation: url('../../content/assets/like-animation.png');

@media only screen and (max-width: 600px) {
  .tweets {
    border: none !important;
  }
}

.tweets {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);
  margin-top: 54px;
  min-height: calc(100vh - 54px);
}

.tweet {
  display: flex;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-bottom: 1px solid rgb(56, 68, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  cursor: pointer;
  @include transition(0.2s background-color);;

  &:hover {
    background: rgb(25, 39, 52);
  }
}

.tweet-profile-image {
  display: flex !important;
  overflow: hidden !important;
  border-radius: 100%;
  user-select: none;
  margin-right: 10px;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
  -webkit-user-drag: none;

  picture img {
    height: 50px !important;
    width: 50px !important;
    position: static !important;
  }
}

.tweet-content {
  line-height: 1.3125;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}

.tweet-name-date {
  margin-bottom: 2px;
}

.tweet-profile-name {
  font-weight: 700;
}

.tweet-profile-handle {
  color: rgb(136, 153, 166);
  margin-left: 5px;
}

.tweet-separator {
  color: rgb(136, 153, 166);
  padding: 0 5px;
}

.tweet-date {
  color: rgb(136, 153, 166);
}

.tweet-profile-name:hover, .tweet-date:hover {
  text-decoration: underline;
}

.tweet-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 85%;
}

.icon-wrapper {
  display: inline-block;
  max-width: 1.25em;
  min-width: 1.25em;
  height: 1.25em;
}

.icon-wrapper-outer {
  display: inline-block;
  position: relative;
  min-height: 1.25em;
  min-width: 1.25em;
}

.icon-wrapper-inner {
  border: 0 solid black;
  border-radius: 100%;
  position: absolute;
  padding: 7px;
  display: inline-flex;
  @include transform(translate(-7px, -7px));
}

.icon-wrapper-inner-liked:before {
  content: "";
  visibility: hidden;
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  background-image: $like-animation;
  background-size: 2500%;
  background-position: left center;
  background-repeat: no-repeat;
  @include transform(scale(3));
  @include animation(LikedTweet 0.8s steps(24));
}

@include keyframes(LikedTweet) {
  0% {
    background-position-x: 0px;
    visibility: visible;
  }
  100% {
    background-position-x: 100%;
    visibility: visible;
    animation-play-state: paused;
  }
}

.tweet-icon {
  width: 1.25em;
  height: 1.25em;
  user-select: none;
  fill: rgb(136, 153, 166);;
}

.icon-count {
  position: absolute;
  top: 0;
  left: 0;
  @include transition(color 0.2s);
}

.icon-count-wrapper {
  display: inline-block;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  font-size: 13px;
  min-height: 1.25em;
  color: rgb(136, 153, 166);
  margin-left: 27px;
  user-select: none;
  vertical-align: super;

  .prev-count { top: -100%; }
  &.appear, &.enter {
    .prev-count { @include animation(MoveUp 0.5s ease-in-out); }
    .curr-count { @include animation(MoveIn 0.5s ease-in-out); }
  }

  &.reverse {
    .prev-count { top: 100%; }
    &.appear, &.enter {
      .prev-count { @include animation(MoveIn 0.5s ease-in-out reverse); }
      .curr-count { @include animation(MoveUp 0.5s ease-in-out reverse); }
    }
  }
}

@include keyframes(MoveUp) {
  0%   { top: 0;     }
  100% { top: -100%; }
}

@include keyframes(MoveIn) {
  0%   { top: 100%; }
  100% { top: 0;    }
}

.icon-wrapper-inner, .tweet-icon {
  @include transition(all 0.2s);
}

/* Comments and Share Icons */
.icon-wrapper-outer-comments:hover {
  .icon-wrapper-inner-comments {
    background: rgba(29, 161, 242, 0.1);
  }
  .tweet-icon {
    fill: rgb(29, 161, 242);
  }
  .icon-count {
    color: rgb(29, 161, 242);
  }
}

.icon-wrapper-outer-share:hover {
  .icon-wrapper-inner-share {
    background: rgba(29, 161, 242, 0.1);
  }
  .tweet-icon {
    fill: rgb(29, 161, 242);
  }
  .icon-count {
    color: rgb(29, 161, 242);
  }
}

/* Retweet Icon */
.icon-wrapper-outer-retweet:hover {
  .icon-wrapper-inner-retweet {
    background: rgba(23, 191, 99, 0.1);
  }
  .tweet-icon {
    fill: rgb(23, 191, 99);
  }
  .icon-count {
    color: rgb(23, 191, 99);
  }
}

/* Like Icon */
.icon-wrapper-outer-like:hover {
  .icon-wrapper-inner-like {
    background: rgba(224, 36, 94, 0.1);
  }
  .tweet-icon {
    fill: rgb(224, 36, 94);
  }
  .icon-count {
    color: rgb(224, 36, 94);
  }
}

.icon-wrapper-outer-liked:hover .icon-wrapper-inner-liked {
  background: rgba(224, 36, 94, 0.1);
}

.icon-wrapper-liked .icon-count {
  color: rgb(224, 36, 94);
}

.icon-liked {
  fill: rgb(224, 36, 94);
  @include animation(GrowLike 0.8s);
}

@include keyframes(GrowLike) {
  0%, 30% { @include transform(scale(0));   }
  80%     { @include transform(scale(1.1)); }
  100%    { @include transform(scale(1));   }
}









